.inputDv,.selDv{width: 30%;float: left;margin: 10px;}
.inputDv:first-child{width: 95%!important}
.btnDv{
  text-align: right;
}
.btnDv button{margin-right: 10px;}

@media only screen and (max-width: 1023px){
  .inputDv,.selDv{width: 95%;}
}
