.inputDv,.selDv{width: 30%;float: left;margin: 10px;}
.inputDv:first-child{width: 95%!important}
.btnDv{
  text-align: right;
}
.btnDv button{margin-right: 10px;}

/*.taskFormDv .inputDv {
  position: relative;
}

.taskFormDv .inputDv input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}
.taskFormDv .inputDv label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: .5s;
}

.taskFormDv .inputDv input:focus ~ label,
.taskFormDv .inputDv input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000;
  font-size: 12px;
}
.selDv select{
    border: none;
    width: 100%;
    border-bottom: 1px solid;
    padding: 25px 0px 0px;
}
select:focus{outline:none }*/