<div cdkDropListGroup>
	<div class="taskTblDv">
		<h3>High Priority Task</h3>
		<table class="tskTbl tblP1" >
			<thead>
				<th>SN.</th>
				<th>Message</th>
				<th>Created Date</th>
				<th>Due Date</th>
				<th>Assigned To</th>
				<th>Action</th>
			</thead>
			<tbody id="p1" cdkDropList 
			#listP1="cdkDropList"
	      [cdkDropListData]="TaskService.p1Task"
	      (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[listP2,listP3]">
	      		<tr style="text-align: center;" *ngIf="TaskService.p1Task.length==0">
  					<td colspan="6">{{TaskService.tblMsg}}</td>
 				</tr>
				<ng-container *ngFor="let tsk of TaskService.p1Task; let i=index;">
					<tr *ngIf="tsk.message.toLowerCase().indexOf(srchQry.toLowerCase())>-1 || srchQry==''|| (tsk.assigned_name==false?'':tsk.assigned_name.toLowerCase()).indexOf(srchQry.toLowerCase())>-1 || (tsk.due_date==null?'':tsk.due_date).indexOf(srchQry)>-1 " cdkDrag>
						<td>{{i+1}}</td>
						<td>{{tsk.message}}</td>
						<td>{{tsk.created_on}}</td>
						<td>{{tsk.due_date}}</td>
						<td>{{tsk.assigned_name==false?'':tsk.assigned_name}}</td>
						<td><i class="fa fa-pencil" (click)="TaskService.openTskModl(tsk)"></i><i class="fa fa-trash" (click)="dltTask(tsk.id)"></i></td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
	<div class="taskTblDv">
		<h3>Medium Priority Task</h3>
		<table class="tskTbl tblP2"  >
			<thead>
				<th>SN.</th>
				<th>Message</th>
				<th>Created Date</th>
				<th>Due Date</th>
				<th>Assigned To</th>
				<th>Action</th>
			</thead>
			<tbody id="p2"  cdkDropList
	      [cdkDropListData]="TaskService.p2Task" #listP2="cdkDropList"
	      (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[listP1,listP3]">
	      		<tr style="text-align: center;" *ngIf="TaskService.p2Task.length==0">
  					<td colspan="6">{{TaskService.tblMsg}}</td>
 				</tr>
				<ng-container *ngFor="let tsk of TaskService.p2Task; let i=index;">
				<tr *ngIf="tsk.message.toLowerCase().indexOf(srchQry.toLowerCase())>-1 || srchQry=='' || (tsk.assigned_name==false?'':tsk.assigned_name.toLowerCase()).indexOf(srchQry.toLowerCase())>-1 || (tsk.due_date==null?'':tsk.due_date).indexOf(srchQry)>-1 " cdkDrag>
					<td>{{i+1}}</td>
					<td>{{tsk.message}}</td>
					<td>{{tsk.created_on}}</td>
					<td>{{tsk.due_date}}</td>
					<td>{{tsk.assigned_name==false?'':tsk.assigned_name}}</td>
					<td><i class="fa fa-pencil" (click)="TaskService.openTskModl(tsk)"></i><i class="fa fa-trash" (click)="dltTask(tsk.id)"></i></td>
				</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
	<div class="taskTblDv">
		<h3>Low Priority Task</h3>
		<table class="tskTbl tblP3" >
			<thead>
				<th>SN.</th>
				<th>Message</th>
				<th>Created Date</th>
				<th>Due Date</th>
				<th>Assigned To</th>
				<th>Action</th>
			</thead>
			<tbody id="p3" cdkDropList
	      [cdkDropListData]="TaskService.p3Task" #listP3="cdkDropList"
	      (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[listP1,listP2]">
	      		<tr style="text-align: center;" *ngIf="TaskService.p3Task.length==0">
  					<td colspan="6">{{TaskService.tblMsg}}</td>
 				</tr>
				<ng-container *ngFor="let tsk of TaskService.p3Task; let i=index;">
				<tr *ngIf="tsk.message.toLowerCase().indexOf(srchQry.toLowerCase())>-1 || srchQry==''|| (tsk.assigned_name==false?'':tsk.assigned_name.toLowerCase()).indexOf(srchQry.toLowerCase())>-1 || (tsk.due_date==null?'':tsk.due_date).indexOf(srchQry)>-1 " cdkDrag>
					<td>{{i+1}}</td>
					<td>{{tsk.message}}</td>
					<td>{{tsk.created_on}}</td>
					<td>{{tsk.due_date}}</td>
					<td>{{tsk.assigned_name==false?'':tsk.assigned_name}}</td>
					<td><i class="fa fa-pencil" (click)="TaskService.openTskModl(tsk)"></i><i class="fa fa-trash" (click)="dltTask(tsk.id)"></i></td>
				</tr>
			</ng-container>
			</tbody>
		</table>
	</div>
</div>